@import "tailwindcss";

:root {
  --lilwhite: #e0dddd;
  --lilgray: #161616;
}

.light {
  --lilwhite: #161616;
  --lilgray: #e0dddd;
}

/* Скрытие скроллбара с сохранением функциональности прокрутки */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari и Opera */
}

/* Скрытие скроллбара для всех элементов с прокруткой */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
